<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PageFeed</title>
  <meta name="description" content="Convert any Facebook Page Posts to RSS Feed">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//bootswatch.com/3/superhero/bootstrap.min.css">
</head>
<body>
  <div class="container" style="max-width: 600px;">
    <h1 class="page-header">PageFeed <small>Get RSS Feed of a Facebook Page</small></h1>
    <form action="/rss" method="get">
      <div class="form-group">
        <label for="pageUrl">Page URL</label>
        <input type="text" name="page_url" class="form-control" id="pageUrl" placeholder="https://www.facebook.com/PAGE_ID">
      </div>
      <button type="submit" class="btn btn-primary">Get RSS Feed</button>
    </form>
    <hr>
    <footer>
      <p>By <a href="http://www.usefulparadigm.com/">Useful Paradigm</a></p>
    </footer>  
  </div> <!-- /container -->
</body>
</html>